.env
.env.*
!.env.example
docker/.env
docker/.env.*
!docker/.env.example

.venv/
venv/
__pycache__/
*.py[cod]

postgres_data/
*.log

dbt/dbt/my_project/target/
dbt/dbt/my_project/logs/
dbt/dbt/my_project/dbt_packages/
dbt/dbt/.user.yml

.DS_Store
